.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* The clip-path property lets you clip an element to a basic shape or to an SVG source. */
  clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
  position: relative;


  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__text-box {
  
    position: absolute;
    top: 40%;
    left: 50%;
    /* 在上面的基础之上 自身左移和上移50%以达到居中效果 */
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  &__logo {
    height: 35px;
  }

}
